/* line 18, ../sass/base.scss */
html {
  font-size: 62.5%;
  background-color: #444444;
  background: url(/assets/images/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 28, ../sass/base.scss */
body {
  font-family: Dosis, sans-serif;
  color: #ffffff;
}

/* line 33, ../sass/base.scss */
::selection {
  color: #444444;
  background: #ffffff;
}

/* line 38, ../sass/base.scss */
::-moz-selection {
  color: #444444;
  background: #ffffff;
}

/* line 43, ../sass/base.scss */
h1 {
  margin-top: 0;
  margin-bottom: 2rem;
  margin-top: 0;
  margin-bottom: 2rem;
  font-size: 10.0rem;
  line-height: 1.2;
  font-weight: 700;
}

/* line 53, ../sass/base.scss */
h2 {
  margin-top: 0;
  margin-bottom: 2rem;
  margin-top: 0;
  margin-bottom: 2rem;
  font-size: 60px;
  line-height: 1.25;
  font-weight: 100;
}

/* line 63, ../sass/base.scss */
h3 {
  margin-top: 0;
  margin-bottom: 2rem;
  margin-top: 0;
  margin-bottom: 2rem;
  font-size: 3.0rem;
  line-height: 1.3;
  font-weight: 500;
}

/* line 73, ../sass/base.scss */
h4 {
  margin-top: 0;
  margin-bottom: 2rem;
  margin-top: 0;
  margin-bottom: 2rem;
  font-size: 2.4rem;
  line-height: 1.35;
  font-weight: 500;
}

/* line 83, ../sass/base.scss */
h5 {
  margin-top: 0;
  margin-bottom: 2rem;
  margin-top: 0;
  margin-bottom: 2rem;
  font-size: 1.8rem;
  line-height: 1.5;
  font-weight: 300;
}

/* line 93, ../sass/base.scss */
h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  margin-top: 0;
  margin-bottom: 2rem;
  font-size: 1.6rem;
  line-height: 1.6;
  font-weight: 400;
}

/* line 103, ../sass/base.scss */
p {
  margin-bottom: 2.5rem;
  margin-top: 0;
  margin-bottom: 2.5rem;
}

@media (min-width: 550px) {
  /* line 110, ../sass/base.scss */
  h1 {
    font-size: 5.0rem;
  }

  /* line 113, ../sass/base.scss */
  h2 {
    font-size: 4.2rem;
  }

  /* line 116, ../sass/base.scss */
  h3 {
    font-size: 3.6rem;
  }

  /* line 119, ../sass/base.scss */
  h4 {
    font-size: 3.0rem;
  }

  /* line 122, ../sass/base.scss */
  h5 {
    font-size: 2.4rem;
  }

  /* line 125, ../sass/base.scss */
  h6 {
    font-size: 1.5rem;
  }
}
/* line 130, ../sass/base.scss */
a {
  color: #ffffff;
  text-decoration: none;
  transition: color .2s;
}
/* line 135, ../sass/base.scss */
a:hover {
  color: yellow;
}

/* line 140, ../sass/base.scss */
.button {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;
  margin-bottom: 1rem;
}
/* line 161, ../sass/base.scss */
.button:hover {
  color: #333;
  border-color: #888;
  outline: 0;
}
/* line 166, ../sass/base.scss */
.button:focus {
  color: #333;
  border-color: #888;
  outline: 0;
}
/* line 171, ../sass/base.scss */
.button.button-primary {
  color: #ffffff;
  background-color: #33c3f0;
  border-color: #33c3f0;
}
/* line 175, ../sass/base.scss */
.button.button-primary:hover {
  color: #ffffff;
  background-color: #1eaedb;
  border-color: #1eaedb;
}
/* line 180, ../sass/base.scss */
.button.button-primary:focus {
  color: #ffffff;
  background-color: #1eaedb;
  border-color: #1eaedb;
}

/* line 188, ../sass/base.scss */
button {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;
  margin-bottom: 1rem;
}
/* line 209, ../sass/base.scss */
button:hover {
  color: #333;
  border-color: #888;
  outline: 0;
}
/* line 214, ../sass/base.scss */
button:focus {
  color: #333;
  border-color: #888;
  outline: 0;
}
/* line 219, ../sass/base.scss */
button.button-primary {
  color: #ffffff;
  background-color: #33c3f0;
  border-color: #33c3f0;
}
/* line 223, ../sass/base.scss */
button.button-primary:hover {
  color: #ffffff;
  background-color: #1eaedb;
  border-color: #1eaedb;
}
/* line 228, ../sass/base.scss */
button.button-primary:focus {
  color: #ffffff;
  background-color: #1eaedb;
  border-color: #1eaedb;
}

/* line 236, ../sass/base.scss */
input[type="submit"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;
}
/* line 256, ../sass/base.scss */
input[type="submit"]:hover {
  color: #333;
  border-color: #888;
  outline: 0;
}
/* line 261, ../sass/base.scss */
input[type="submit"]:focus {
  color: #333;
  border-color: #888;
  outline: 0;
}
/* line 266, ../sass/base.scss */
input[type="submit"].button-primary {
  color: #ffffff;
  background-color: #33c3f0;
  border-color: #33c3f0;
}
/* line 270, ../sass/base.scss */
input[type="submit"].button-primary:hover {
  color: #ffffff;
  background-color: #1eaedb;
  border-color: #1eaedb;
}
/* line 275, ../sass/base.scss */
input[type="submit"].button-primary:focus {
  color: #ffffff;
  background-color: #1eaedb;
  border-color: #1eaedb;
}

/* line 283, ../sass/base.scss */
input[type="reset"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;
}
/* line 303, ../sass/base.scss */
input[type="reset"]:hover {
  color: #333;
  border-color: #888;
  outline: 0;
}
/* line 308, ../sass/base.scss */
input[type="reset"]:focus {
  color: #333;
  border-color: #888;
  outline: 0;
}
/* line 313, ../sass/base.scss */
input[type="reset"].button-primary {
  color: #ffffff;
  background-color: #33c3f0;
  border-color: #33c3f0;
}
/* line 317, ../sass/base.scss */
input[type="reset"].button-primary:hover {
  color: #ffffff;
  background-color: #1eaedb;
  border-color: #1eaedb;
}
/* line 322, ../sass/base.scss */
input[type="reset"].button-primary:focus {
  color: #ffffff;
  background-color: #1eaedb;
  border-color: #1eaedb;
}

/* line 330, ../sass/base.scss */
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;
}
/* line 350, ../sass/base.scss */
input[type="button"]:hover {
  color: #333;
  border-color: #888;
  outline: 0;
}
/* line 355, ../sass/base.scss */
input[type="button"]:focus {
  color: #333;
  border-color: #888;
  outline: 0;
}
/* line 360, ../sass/base.scss */
input[type="button"].button-primary {
  color: #ffffff;
  background-color: #33c3f0;
  border-color: #33c3f0;
}
/* line 364, ../sass/base.scss */
input[type="button"].button-primary:hover {
  color: #ffffff;
  background-color: #1eaedb;
  border-color: #1eaedb;
}
/* line 369, ../sass/base.scss */
input[type="button"].button-primary:focus {
  color: #ffffff;
  background-color: #1eaedb;
  border-color: #1eaedb;
}

/* line 377, ../sass/base.scss */
input[type="email"] {
  height: 38px;
  padding: 6px 10px;
  background-color: #ffffff;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
  appearance: none;
}
/* line 389, ../sass/base.scss */
input[type="email"]:focus {
  border: 1px solid #33c3f0;
  outline: 0;
}

/* line 395, ../sass/base.scss */
input[type="number"] {
  height: 38px;
  padding: 6px 10px;
  background-color: #ffffff;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
  appearance: none;
}
/* line 407, ../sass/base.scss */
input[type="number"]:focus {
  border: 1px solid #33c3f0;
  outline: 0;
}

/* line 413, ../sass/base.scss */
input[type="search"] {
  height: 38px;
  padding: 6px 10px;
  background-color: #ffffff;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
  appearance: none;
}
/* line 425, ../sass/base.scss */
input[type="search"]:focus {
  border: 1px solid #33c3f0;
  outline: 0;
}

/* line 431, ../sass/base.scss */
input[type="text"] {
  height: 38px;
  padding: 6px 10px;
  background-color: #ffffff;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
  appearance: none;
}
/* line 443, ../sass/base.scss */
input[type="text"]:focus {
  border: 1px solid #33c3f0;
  outline: 0;
}

/* line 449, ../sass/base.scss */
input[type="tel"] {
  height: 38px;
  padding: 6px 10px;
  background-color: #ffffff;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
  appearance: none;
}
/* line 461, ../sass/base.scss */
input[type="tel"]:focus {
  border: 1px solid #33c3f0;
  outline: 0;
}

/* line 467, ../sass/base.scss */
input[type="url"] {
  height: 38px;
  padding: 6px 10px;
  background-color: #ffffff;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
  appearance: none;
}
/* line 479, ../sass/base.scss */
input[type="url"]:focus {
  border: 1px solid #33c3f0;
  outline: 0;
}

/* line 485, ../sass/base.scss */
input[type="password"] {
  height: 38px;
  padding: 6px 10px;
  background-color: #ffffff;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
  appearance: none;
}
/* line 497, ../sass/base.scss */
input[type="password"]:focus {
  border: 1px solid #33c3f0;
  outline: 0;
}

/* line 503, ../sass/base.scss */
textarea {
  height: 38px;
  padding: 6px 10px;
  background-color: #ffffff;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
  appearance: none;
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-bottom: 1.5rem;
}
/* line 519, ../sass/base.scss */
textarea:focus {
  border: 1px solid #33c3f0;
  outline: 0;
}

/* line 525, ../sass/base.scss */
select {
  height: 38px;
  padding: 6px 10px;
  background-color: #ffffff;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
  margin-bottom: 1.5rem;
}
/* line 537, ../sass/base.scss */
select:focus {
  border: 1px solid #33c3f0;
  outline: 0;
}

/* line 543, ../sass/base.scss */
label {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600;
}
/* line 547, ../sass/base.scss */
label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal;
}

/* line 554, ../sass/base.scss */
legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600;
}

/* line 560, ../sass/base.scss */
fieldset {
  padding: 0;
  border-width: 0;
  margin-bottom: 1.5rem;
}

/* line 566, ../sass/base.scss */
input[type="checkbox"] {
  display: inline;
}

/* line 570, ../sass/base.scss */
input[type="radio"] {
  display: inline;
}

/* line 574, ../sass/base.scss */
ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 2.5rem;
}
/* line 579, ../sass/base.scss */
ul ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%;
  display: inline-block;
}
/* line 584, ../sass/base.scss */
ul ol {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%;
  display: inline-block;
}

/* line 591, ../sass/base.scss */
ol {
  list-style: decimal inside;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 2.5rem;
}
/* line 596, ../sass/base.scss */
ol ol {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%;
  display: inline-block;
}
/* line 601, ../sass/base.scss */
ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%;
  display: inline-block;
}

/* line 608, ../sass/base.scss */
li {
  margin-bottom: 1rem;
  display: inline-block;
}

/* line 613, ../sass/base.scss */
code {
  padding: .2rem .5rem;
  margin: 0 .2rem;
  font-size: 90%;
  white-space: nowrap;
  background: #f1f1f1;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
}

/* line 624, ../sass/base.scss */
pre {
  margin-bottom: 2.5rem;
}
/* line 626, ../sass/base.scss */
pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre;
}

/* line 633, ../sass/base.scss */
th {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #e1e1e1;
}
/* line 637, ../sass/base.scss */
th:first-child {
  padding-left: 0;
}
/* line 640, ../sass/base.scss */
th:last-child {
  padding-right: 0;
}

/* line 645, ../sass/base.scss */
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #e1e1e1;
}
/* line 649, ../sass/base.scss */
td:first-child {
  padding-left: 0;
}
/* line 652, ../sass/base.scss */
td:last-child {
  padding-right: 0;
}

/* line 657, ../sass/base.scss */
input {
  margin-bottom: 1.5rem;
}

/* line 661, ../sass/base.scss */
blockquote {
  margin-bottom: 2.5rem;
}

/* line 665, ../sass/base.scss */
dl {
  margin-bottom: 2.5rem;
}

/* line 669, ../sass/base.scss */
figure {
  margin-bottom: 2.5rem;
}

/* line 673, ../sass/base.scss */
table {
  margin-bottom: 2.5rem;
}

/* line 677, ../sass/base.scss */
form {
  margin-bottom: 2.5rem;
}

/* line 681, ../sass/base.scss */
.u-full-width {
  width: 100%;
  box-sizing: border-box;
}

/* line 687, ../sass/base.scss */
.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box;
}

/* line 693, ../sass/base.scss */
.u-pull-right {
  float: right;
}

/* line 697, ../sass/base.scss */
.u-pull-left {
  float: left;
}

/* line 701, ../sass/base.scss */
hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #e1e1e1;
}
