/* line 9, ../sass/style.scss */
img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px) {
  /* Specific to this particular image */
  /* line 25, ../sass/style.scss */
  img.bg {
    left: 50%;
    margin-left: -512px;
    /* 50% */
  }
}
/* line 31, ../sass/style.scss */
header {
  margin-bottom: 8rem;
}
/* line 33, ../sass/style.scss */
header #logo {
  width: 50px;
  padding: 40px 40px 0 40px;
  float: left;
}
/* line 38, ../sass/style.scss */
header #navmenu {
  padding: 70px 25px;
  float: right;
  text-align: center;
}
/* line 43, ../sass/style.scss */
header .navmenu {
  padding: 70px 25px;
  float: right;
  text-align: center;
}
/* line 48, ../sass/style.scss */
header .text {
  padding: 0 3px 0 3px;
}
/* line 51, ../sass/style.scss */
header .dash {
  padding: 0;
}
/* line 54, ../sass/style.scss */
header a {
  font-weight: 100;
  font-size: 18px;
  color: #ffffff;
  text-decoration: none;
  transition: color .2s;
}
/* line 60, ../sass/style.scss */
header a:hover {
  color: #ffc846;
}

@media (max-width: 550px) {
  /* line 67, ../sass/style.scss */
  #logo {
    float: none !important;
    display: block;
    margin: 0 auto;
  }

  /* line 72, ../sass/style.scss */
  #navmenu {
    float: none !important;
    display: block;
    margin: 0 auto;
    text-align: center;
  }

  /* line 78, ../sass/style.scss */
  .navmenu {
    transition: .2s all;
    float: none !important;
    display: none;
    margin: 0 auto;
    text-align: center;
  }
}
/* line 87, ../sass/style.scss */
footer {
  text-align: center;
  position: fixed;
  height: 50px;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 0;
  padding-top: 20px;
  background-color: #444444;
}
/* line 97, ../sass/style.scss */
footer li {
  padding: 0 25px;
}
/* line 100, ../sass/style.scss */
footer a {
  color: #ffffff;
  text-decoration: none;
  transition: color .2s;
}
/* line 105, ../sass/style.scss */
footer a:hover {
  color: #ffc846;
}

/* line 111, ../sass/style.scss */
.center {
  display: flex;
  justify-content: center;
}

/* line 116, ../sass/style.scss */
.center_text {
  text-align: center;
  display: flex;
  justify-content: center;
}

/* line 122, ../sass/style.scss */
.indent {
  padding-left: 50px;
}

/* line 126, ../sass/style.scss */
.indent_2 {
  padding-left: 100px;
}

/* line 130, ../sass/style.scss */
.spacer {
  padding: 20px;
}

/* line 134, ../sass/style.scss */
.spacer_2 {
  padding: 80px;
}

/* line 138, ../sass/style.scss */
.top {
  margin-top: 4rem;
}

/* line 142, ../sass/style.scss */
.bottom {
  margin-bottom: 6rem;
}
