/* line 7, ../sass/style.scss */
header {
  margin-bottom: 8rem;
}
/* line 9, ../sass/style.scss */
header #logo {
  width: 50px;
  padding: 40px 40px 0 40px;
  float: left;
}
/* line 14, ../sass/style.scss */
header #navmenu {
  padding: 70px 25px;
  float: right;
  text-align: center;
}
/* line 19, ../sass/style.scss */
header .navmenu {
  padding: 70px 25px;
  float: right;
  text-align: center;
}
/* line 24, ../sass/style.scss */
header .text {
  padding: 0 3px 0 3px;
}
/* line 27, ../sass/style.scss */
header .dash {
  padding: 0;
}
/* line 30, ../sass/style.scss */
header a {
  font-weight: 100;
  font-size: 18px;
  color: #ffffff;
  text-decoration: none;
  transition: color .2s;
}
/* line 36, ../sass/style.scss */
header a:hover {
  color: #ffc846;
}

@media (max-width: 550px) {
  /* line 43, ../sass/style.scss */
  #logo {
    float: none !important;
    display: block;
    margin: 0 auto;
  }

  /* line 48, ../sass/style.scss */
  #navmenu {
    float: none !important;
    display: block;
    margin: 0 auto;
    text-align: center;
  }

  /* line 54, ../sass/style.scss */
  .navmenu {
    transition: .2s all;
    float: none !important;
    display: none;
    margin: 0 auto;
    text-align: center;
  }
}
/* line 63, ../sass/style.scss */
footer {
  text-align: center;
  position: fixed;
  height: 50px;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 0;
  padding-top: 20px;
  background-color: #444444;
}
/* line 73, ../sass/style.scss */
footer li {
  padding: 0 25px;
}
/* line 76, ../sass/style.scss */
footer a {
  color: #ffffff;
  text-decoration: none;
  transition: color .2s;
}
/* line 81, ../sass/style.scss */
footer a:hover {
  color: #ffc846;
}

/* line 87, ../sass/style.scss */
.center {
  display: flex;
  justify-content: center;
}

/* line 92, ../sass/style.scss */
.center_text {
  text-align: center;
  display: flex;
  justify-content: center;
}

/* line 98, ../sass/style.scss */
.indent {
  padding-left: 50px;
}

/* line 102, ../sass/style.scss */
.indent_2 {
  padding-left: 100px;
}

/* line 106, ../sass/style.scss */
.spacer {
  padding: 20px;
}

/* line 110, ../sass/style.scss */
.spacer_2 {
  padding: 80px;
}

/* line 114, ../sass/style.scss */
.top {
  margin-top: 4rem;
}

/* line 118, ../sass/style.scss */
.bottom {
  margin-bottom: 6rem;
}
